#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""
项目模型

这个模块定义了项目的数据库模型。
"""

from sqlalchemy import Column, String, Text

from app.db.base import Base


class Item(Base):
    """
    项目模型
    """
    title = Column(String(255), index=True, nullable=False)
    description = Column(Text, nullable=True)